body {
    background-color: beige;
    text-align: center;
    font-size: 35px;
}

a:link {
    background-color: #ffffff;
    color: #ea1010;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: -1024px;
}