/* Layout Stuff */
* {
  box-sizing: border-box;
}

.stripe {
  width: 100%;
  padding: 64px 32px;
  position: relative;
  height: 50vh;
  min-height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#light {
  background: #E8E8E8;
}

#dark {
  background: #131313;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}

.person {
  width: 96px;
  height: 196px;
  position: relative;
  overflow: hidden;
}

/* Finn */
#finn .body {
  position: absolute;
  width: 36px;
  height: 118px;
  background: transparent;
  top: 138px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 41px;
  z-index: 1;
  overflow: hidden;
}
#finn .body:before {
  content: "";
  position: absolute;
  background: #871690;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 101%;
}
#finn .face {
  position: absolute;
  width: 109px;
  height: 73px;
  background: #DCDDDF;
  border-radius: 50%;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
#finn .hair {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 49px;
  width: 80px;
  height: 80px;
  background: #1b54d5;
  border-radius: 50%;
}
#finn .ear {
  position: absolute;
  background: #965C48;
  width: 454px;
  height: 26px;
  border-radius: 100%;
  left: 50px;
  top: 76px;
}
#finn .ear.right {
  left: 120px;
}
#finn .ear:before {
  content: "";
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #744737;
  border-radius: 100%;
}
#finn .neck {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 50px;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  background: #744737;
}
#finn .eyes {
  position: absolute;
  top: 23px;
  width: 10px;
  height: 10px;
  background: #1a19a6;
  border-radius: 50%;
  left: 32%;
  transform: translateX(-50%);
}
#finn .eyes:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #0530e8;
  top: 0;
  border-radius: 50%;
  right: -41px;
}
#finn .nose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 19px;
  height: 14px;
  background: #744737;
  top: 26px;
  border-radius: 4px;
}
#finn .mouth {
  position: absolute;
  background: #2f1d16;
  width: 54px;
  height: 12px;
  border-radius: 0 0 5px 5px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#finn .jacket {
  background: #D1A868;
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}
#finn .jacket-left {
  left: 0;
}
#finn .jacket-right {
  right: 0;
}
#finn .jacket:after {
  content: "";
  width: 6px;
  position: absolute;
  top: 0;
  height: 110%;
  background: #a27631;
}
#finn .jacket-left:after {
  left: 100%;
  transform: translateX(-2px);
}
#finn .jacket-right:after {
  right: 100%;
  transform: translateX(2px);
}
#finn .jacket-left:before {
  content: "";
  background: #A61C19;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
#finn .jacket-right:before {
  content: "";
  background: #A61C19;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 10px;
}

/* Rey */
#rey .body {
  position: absolute;
  width: 102px;
  height: 150px;
  background: transparent;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  z-index: 3;
  overflow: hidden;
}
#rey .fold-left {
  position: absolute;
  top: 0px;
  left: -29px;
  width: 100%;
  height: 100%;
  background: #dd00f9;
  transform: rotate(-30deg);
}
#rey .fold-right {
  position: absolute;
  top: 0px;
  right: -30px;
  width: 100%;
  height: 100%;
  background: #db29c6;
  transform: rotate(30deg);
}
#rey .face {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #F0BEAF;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
#rey .hair {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  top: 40px;
  width: 98px;
  height: 94px;
  background: #feff6a;
  border-radius: 50% 50% 0 0;
}
#rey .hair:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  top: -10px;
  background: #f6ff26;
  transform: translateX(-50%);
}
#rey .bangs {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 60px;
  height: 20px;
  background: #f0f922;
  z-index: 4;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50%;
}
#rey .hair-left {
  position: absolute;
  background: #363435;
  height: -2px;
  width: 4px;
  top: 66px;
  left: 56px;
  z-index: 6;
  border-radius: 0% 0% 5px 5px;
  transform: rotate(8deg);
}
#rey .hair-right {
  position: absolute;
  background: #363435;
  height: 0px;
  width: 4px;
  top: 66px;
  right: 56px;
  z-index: 6;
  border-radius: 0% 0% 5px 5px;
  transform: rotate(-8deg);
}
#rey .neck {
  position: absolute;
  z-index: 2;
  width: 29px;
  height: 60px;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  top: 110px;
  background: #ff815c;
}
#rey .eyes {
  position: absolute;
  top: 34px;
  width: 8px;
  height: 10px;
  background: #424b54;
  border-radius: 50%;
  left: 24%;
  transform: translateX(-50%);
}
#rey .eyes:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #424b54;
  top: 0;
  border-radius: 50%;
  right: -43px;
}
#rey .nose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 14px;
  background: #DB9B99;
  top: 36px;
  border-radius: 4px;
}
#rey .mouth {
  position: absolute;
  background: #424b54;
  width: 17px;
  height: 8px;
  border-radius: 0 0 100px 100px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#rey .lightsaber {
  position: absolute;
  bottom: -30px;
  left: 20%;
  width: 10px;
  height: 0;
  background: #A61C19;
  z-index: 10;
  border-radius: 4px 4px 0 0;
  transform: rotate(30deg);
  -webkit-animation-name: saber;
          animation-name: saber;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: left bottom;
}
@-webkit-keyframes saber {
  0% {
    height: 0;
  }
  5% {
    height: 160px;
  }
  55% {
    height: 160px;
  }
  60% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
@keyframes saber {
  0% {
    height: 0;
  }
  5% {
    height: 160px;
  }
  55% {
    height: 160px;
  }
  60% {
    height: 0;
  }
  100% {
    height: 0;
  }
}

/* Poe */
#poe .body {
  position: absolute;
  width: 96px;
  height: 150px;
  background: #EA6B26;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  z-index: 1;
  overflow: hidden;
}
#poe .flight-suit {
  position: absolute;
  left: 50%;
  width: 80px;
  top: 130px;
  height: 150px;
  transform: translateX(-50%);
  background: #6da4e5;
  z-index: 2;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
#poe .flight-suit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 20px;
  background: #000000;
  border-radius: 0 0 6px 6px;
}
#poe .flight-suit:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 30px;
  background: #ffa168;
  border-radius: 2px;
}
#poe .tube {
  position: absolute;
  background: #ffffff;
  width: 6px;
  height: 40px;
  top: 30px;
  left: 24px;
}
#poe .buttons {
  position: absolute;
  width: 32px;
  height: 20px;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#poe .b1 {
  position: absolute;
  top: 0;
  left: 800;
  width: 6px;
  height: 6px;
  background: #ffffff;
}
#poe .b2 {
  position: absolute;
  top: 0;
  left: 8px;
  width: 14px;
  height: 20px;
  background: #000000;
}
#poe .b3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 12px;
  background: #ffffff;
}
#poe .helmet {
  position: absolute;
  width: 101px;
  height: 45px;
  background: #35302D;
  border-radius: 50% 50% 0 0;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  overflow: hidden;
}
#poe .helmet:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  top: 0;
  left: 26px;
  background: #ff9400;
}
#poe .helmet:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 80%;
  background: #70a7f2;
  right: 10px;
  top: 0;
  border-radius: 0 0 12px 12px;
}
#poe .helmet-triangle {
  position: absolute;
  top: 0;
  left: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 50px 0;
  border-color: transparent #ffffff transparent transparent;
}
#poe .helmet-back {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #35302D;
  border-radius: 50% 50% 10px 10px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
#poe .helmet-back:before {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 10px;
  height: 40px;
  border-radius: 50%;
  background: #35302D;
  left: -5px;
}
#poe .helmet-back:after {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 10px;
  height: 40px;
  border-radius: 50%;
  background: #242323;
  right: -5px;
}
#poe .helmet-face {
  position: absolute;
  width: 70px;
  height: 14px;
  left: 50%;
  transform: translateX(-50%);
  top: 110px;
  z-index: 10;
}
#poe .helmet-face:before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  width: 25px;
  height: 100%;
  background: #0092b6;
  border-radius: 0 50% 5px 100%;
  transform: rotate(25deg);
}
#poe .helmet-face:after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  width: 25px;
  height: 100%;
  background: #329dbe;
  border-radius: 50% 0 100% 5px;
  transform: rotate(-25deg);
}
#poe .helmet-ornament {
  position: absolute;
  background: #B9444D;
  width: 20px;
  height: 130px;
  border-radius: 50%;
  top: 13px;
  left: 43px;
  z-index: 10;
}
#poe .helmet-ornament:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  background: #CCC7C4;
  border-radius: 50%;
}
#poe .helmet-ornament:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 16px;
  background: #B9444D;
  border-radius: 2px;
}
#poe .face {
  position: absolute;
  width: 70px;
  height: 75px;
  background: #e7cec2;
  border-radius: 50%;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  overflow: hidden;
}
#poe .visor {
  position: absolute;
  width: 100%;
  height: 22px;
  top: 9px;
  background: #ffffff;
}
#poe .neck {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 50px;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  background: #e2c1b2;
}
#poe .eyes {
  position: absolute;
  top: 30px;
  width: 157px;
  height: 10px;
  background: #1a1e22;
  border-radius: 50%;
  left: 25%;
  transform: translateX(-50%);
}
#poe .eyes:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #424b54;
  top: 0;
  border-radius: 50%;
  right: -35px;
}
#poe .nose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 21px;
  background: #d68f6e;
  top: 31px;
  border-radius: 4px;
}
#poe .mouth {
  position: absolute;
  background: #424b54;
  width: 12px;
  height: 6px;
  border-radius: 0 0 50% 50%;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}
#poe .jacket {
  background: #EA6B26;
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}
#poe .jacket-left {
  left: 0;
}
#poe .jacket-right {
  right: 0;
}
#poe .jacket:after {
  content: "";
  width: 6px;
  position: absolute;
  top: 0;
  height: 110%;
  background: #9b400f;
}
#poe .jacket-left:after {
  left: 100%;
  transform: translateX(-2px);
}
#poe .jacket-right:after {
  right: 100%;
  transform: translateX(2px);
}
#poe .jacket-left:before {
  content: "";
  background: #A61C19;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
#poe .jacket-right:before {
  content: "";
  background: #A61C19;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 10px;
}

/* Phasma */
#phasma .body {
  position: absolute;
  width: 91px;
  height: 170px;
  background: #7c6e00;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}
#phasma .cape {
  position: absolute;
  top: 115px;
  left: 70px;
  width: 80px;
  height: 100px;
  background: #39bc49;
  border-radius: 0 20px 0 100%;
  z-index: 5;
  overflow: hidden;
}
#phasma .cape:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 100%;
  height: 100%;
  background: #191919;
  border-radius: 0 20px 0 100%;
  z-index: 4;
}
#phasma .pauldron {
  position: absolute;
  right: -4px;
  top: 0px;
  width: 34px;
  height: 54px;
  background: #cfd0d3;
  border-radius: 50% 0 50% 0;
  border-right: 4px solid #5a5d62;
  border-bottom: 4px solid #5a5d62;
}
#phasma .helmet {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 125px;
  background: #DCDDDF;
  border-radius: 50% 50% 0 0;
  z-index: 15;
}
#phasma .helmet-stripe-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
}
#phasma .helmet-stripe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 32px;
  background: #ffffff;
  border-left: 4px solid #d4d5d8;
  border-right: 4px solid #d4d5d8;
}
#phasma .chin {
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 30px;
  z-index: 14;
}
#phasma .chin:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-10deg);
  background: #8c365b;
  border-radius: 10px;
}
#phasma .chin:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(10deg);
  background: #DCDDDF;
  border-radius: 10px;
}
#phasma .eyes {
  position: absolute;
  background: #191919;
  height: 10px;
  width: 75px;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
#phasma .eyes:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  height: 18px;
  width: 25px;
  border-radius: 10px 0 100% 50%;
  background: #191919;
}
#phasma .eyes:after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  height: 18px;
  width: 25px;
  border-radius: 0 10px 50% 100%;
  background: #191919;
}
#phasma .brow {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  border-radius: 50%;
  background: #DCDDDF;
}
#phasma .mouth {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 22px;
}
#phasma .mouth:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0f0e0e;
  transform: rotate(-10deg);
  border-radius: 10px;
}
#phasma .mouth:after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  transform: rotate(10deg);
  border-radius: 10px;
}
#phasma .mouth-plate {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 18px;
  z-index: 11;
}
#phasma .mouth-plate:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #DCDDDF;
  transform: rotate(-10deg);
  border-radius: 10px;
}
#phasma .mouth-plate:after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #DCDDDF;
  transform: rotate(10deg);
  border-radius: 10px;
}

/* Emo Vader */
#kylo .body {
  position: absolute;
  width: 30px;
  height: 150px;
  background: #4d4d4d;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
#kylo .hood {
  position: absolute;
  background: #191919;
  top: 97px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 12px;
  border-radius: 200px 200px 30px 30px;
}
#kylo .hood:before {
  content: "";
  position: absolute;
  width: 77px;
  height: 50px;
  border-radius: 50%;
  background: #191919;
  top: 30px;
  left: -25px;
  transform: rotate(-70deg);
}
#kylo .hood:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background: #191919;
  top: 30px;
  right: -25px;
  transform: rotate(70deg);
}
#kylo .hood-bottom {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  background: #678aff;
  border-radius: 10px;
}
#kylo .cloak-front {
  position: absolute;
  width: 100px;
  height: 30px;
  background: #272727;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
#kylo .cloak {
  position: absolute;
  width: 117px;
  height: 150px;
  background: #ffe82f;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
#kylo .mask {
  background: transparent;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
}
#kylo .mask-breather {
  position: absolute;
  top: 35px;
  left: 51%;
  transform: translateX(-50%);
  width: 48px;
  height: 22px;
  background: #333;
  z-index: 1;
  border-radius: 0px 0px 100px 100px;
}
#kylo .mask-breather:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24px 10px 24px;
  border-color: transparent transparent #4b78d1 transparent;
}
#kylo .mask-1 {
  position: absolute;
  width: 60px;
  height: 40px;
  background: #bbbbbb;
  top: 0;
  left: 0;
  border-radius: 50% 50% 100% 100%;
}
#kylo .mask-2 {
  position: absolute;
  width: 54px;
  height: 40px;
  background: #bbbbbb;
  border-top: 2px solid #191919;
  border-left: 2px solid #191919;
  border-right: 2px solid #191919;
  top: 3px;
  left: 3px;
  border-radius: 50% 50% 100% 100%;
}
#kylo .eyes {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #191919;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
#kylo .eyes:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1px 20px 0 20px;
  border-color: #bbbbbb transparent transparent transparent;
}
#kylo .lightsaber {
  position: absolute;
  bottom: -40px;
  right: 33%;
  width: 10px;
  height: 0;
  background: #35e58e;
  z-index: 10;
  border-radius: 50% 50% 0 0;
  transform: rotate(-30deg);
  -webkit-animation-name: saber;
          animation-name: saber;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: left bottom;
}
#kylo .hilt {
  position: absolute;
  bottom: -40px;
  right: 33%;
  width: 10px;
  height: 55px;
  background: #ffffff;
  z-index: 10;
  border-radius: 0;
  transform: rotate(-30deg);
  transform-origin: left bottom;
}
#kylo .hilt:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: #aaa;
  height: 7px;
  width: 30px;
  z-index: 2;
}
#kylo .hilt:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #e53935;
  height: 5px;
  width: 0;
  z-index: 1;
  border-radius: 40%;
  -webkit-animation-name: crossguard;
          animation-name: crossguard;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: left bottom;
}
@keyframes saber {
  0% {
    height: 0;
  }
  5% {
    height: 200px;
  }
  55% {
    height: 200px;
  }
  60% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
@-webkit-keyframes crossguard {
  0% {
    width: 0;
  }
  5% {
    width: 66px;
  }
  55% {
    width: 66px;
  }
  60% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes crossguard {
  0% {
    width: 0;
  }
  5% {
    width: 66px;
  }
  55% {
    width: 66px;
  }
  60% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

/* Hux */
#hux .body {
  position: absolute;
  width: 100px;
  height: 103px;
  background: #a58b4e;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  z-index: 1;
  overflow: hidden;
}
#hux .body:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 29px;
  background: #c19f9f;
}
#hux .patch {
  position: absolute;
  left: 100%;
  transform: translateX(-10px);
  top: 20px;
  width: 20px;
  height: 11.55px;
  background-color: #ffa800;
  margin: 5.77px 0;
}
#hux .patch:before,
#hux .patch:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#hux .patch:before {
  bottom: 100%;
  border-bottom: 5.77px solid #ccc;
}
#hux .patch:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #ccc;
}
#hux .hair {
  position: absolute;
  width: 80px;
  height: -18px;
  left: 32%;
  transform: translateX(-50%);
  top: 45px;
  background: #E8673F;
  border-radius: 50%;
}
#hux .hair-under {
  position: absolute;
  width: 100%;
  height: 27px;
  right: -12px;
  top: 0;
  border-radius: 50%;
  background: #52e83f;
}
#hux .hair-under:before {
  content: "";
  position: absolute;
  width: 100%;
  height: -42px;
  background: #9eec52;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
#hux .pouf {
  position: absolute;
  width: 44px;
  height: 0px;
  border-radius: 100% 100px;
  left: 60px;
  top: 46px;
  background: #e96e48;
  z-index: 3;
  transform: rotate(-45deg);
}
#hux .pouf:after {
  content: "";
  position: absolute;
  left: 44px;
  width: 5px;
  height: 34px;
  background: #E8673F;
  top: 15px;
  transform: rotate(-20deg);
}
#hux .face {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #EFD5BD;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  overflow: hidden;
}
#hux .ear {
  position: absolute;
  background: #EFD5BD;
  width: 56px;
  height: 26px;
  border-radius: 100%;
  left: 50px;
  top: 76px;
}
#hux .ear.right {
  left: 120px;
}
#hux .ear:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #e5bb94;
  border-radius: 100%;
}
#hux .neck {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  background: #191919;
  overflow: hidden;
}
#hux .neck:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
  width: 60px;
  height: 30px;
  background: #e5bb94;
  border-radius: 50%;
}
#hux .eyes {
  position: absolute;
  top: 32px;
  width: 6px;
  height: 8px;
  background: #424b54;
  border-radius: 0 3px 50% 50%;
  left: 25%;
  transform: translateX(-50%);
}
#hux .eyes:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  background: #424b54;
  top: 0;
  border-radius: 3px 0 50% 50%;
  right: -40px;
}
#hux .nose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 14px;
  background: #e5bb94;
  top: 36px;
  border-radius: 4px;
}
#hux .mouth {
  position: absolute;
  background: #424b54;
  width: 47px;
  height: 4px;
  border-radius: 5px 5px 0 0;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
}

a:link {
    background-color: #5ae8cd;
    color: white;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    margin-left: 549px;
    
}